.App {
  text-align: center;
}

.images-container {
  margin-top: 2rem;
}
.prev-next {
  margin: 2rem auto;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.grid-container {
  width: 70%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 16px;
}

.image {
  height: 200px;
  width: 90%;
  object-fit: cover;
  border-radius: 6px;
}
